/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
        color: #aaa;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
        color: #333;
        text-shadow: none; /* Prevent inheritence from `body` */
        background-color: #fff;
        border: 1px solid #fff;
}


/*
 * Base structure
 */
html {
    font-family: 'Cousine'; !important
}
body {
    text-align: center;
    font-family: 'Cousine'; !important
    background-color: #333;
}

.container {
    max-width: 1280px;
    padding: 40px 180px;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

/*
* Row
*/
.row {
    margin-left: 20px;
    margin-right: 0px;
}
