/*
 * Header
 */
.masthead {
    background-color: #333;
    position: fixed;
    width: auto;
    left: 25px;
    top: 5%;
    z-index:999;
    text-align:center;
}

.masthead-nav > li {
        display: block;
        margin: 25px;
}
.masthead-nav > li + li {
        margin-left: 20px;
}
.masthead-nav > li > a {
        padding-right: 0;
        padding-left: 0;
        font-weight: bold;
        color: #fff; /* IE8 proofing */
        color: rgba(255,255,255,.75);
        border-bottom: 2px solid transparent;
        font-weight: normal;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
        background-color: transparent;
        border-bottom-color: #fff;
        border-bottom-color: #fff;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
        color: skyblue;
        border-bottom-color: skyblue;
}

@media (max-width:800px) {
    .masthead-nav > li {
        display:inline-block;
        text-size:10px;
        margin: 7px;
    }
    .masthead {
        top: 0;
        font-size: 11px;
        left: 0;
        right: 0;
    }
    .masthead > li {
        margin : 5px;
    }
}
