.cover {
    margin: 0px;
    padding : 0px;
    background-image: url('../images/Mtns.jpg');
    background-size: cover;
    z-index: 1;
}

.cover .container {
    position: relative;
    top: 28%;
    text-align: center;
}

